/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.04.2015, 11:29:21
    Author     : ekirschning
*/
.aige-admin-member-list{
    position      : relative;
    margin-left: auto ;
    margin-right: auto ;
    bottom        : 0;
    top           : 10px;
    right         : 0;
    left         : 10px;
    width         : 80em;
    height        : 10em;
    background: #fff;
    border-radius : 0.5em 0 0 0;
    border-style  : solid;
    border-width  : thin 0 0 thin;
    border-color  : #888;
    box-shadow    : 0 0 0.75em 0 #888;
    z-index       : 1;
    display: none;
}


.aige-admin-member-add-edit {
    position      : fixed;
    background-color:#000;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;	
    background: #afc7e0;
    display:none;
    max-width:600px;

    padding:10px 10px 10px 10px;

    width:80%;
    z-index:1002;
}
.aige-admin-member-add-edit input[type=radio],[type=checkbox]{
    margin:3px 3px 0 3px;
}
.aige-admin-member-add-edit label{

    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}
.aige-admin-member-add-edit input[type=text] {

    margin:3px 3px 0 3px;
    border      : 0;
    background  : #d7e3ef;
    color       : #666;
}
.aige-admin-member-add-edit input[type=text]:focus {
    background : #fff;
    color      : #222;
}
.aige-admin-member-add-edit textarea {

    margin:3px 3px 0 3px;
    width: 168px;
    border      : 0;
    background  : #d7e3ef;
    color       : #666;
}
.aige-admin-member-add-edit textarea:focus {
    background : #fff;
    color      : #222;
}
.aige-admin-member-add-edit select {

    margin:3px 3px 0 3px;
     width: 168px;
    border      : 0;
    background  : #d7e3ef;
    color       : #666;
}
.aige-admin-member-add-edit select:focus {
    background : #fff;
    color      : #222;
}
.aige-admin-membership{
    position      : relative;
    margin-left: auto ;
    margin-right: auto ;

    bottom        : 0;
    top           : 0;
    right         : 0;
    left         : 0;
    width         : 30em;
    height        : 20em;
    background: #fff;
    border-radius : 0.5em 0 0 0;
    border-style  : solid;
    border-width  : thin 0 0 thin;
    border-color  : #888;
    box-shadow    : 0 0 0.75em 0 #888;
    z-index       : 1;
    display: none;
}

ul{
    list-style:none;

}

ul label{
    width:100px;
    float:left;
}
.bigulLabel{
   width:200px;
    float:left;   
}
#frmCadastre{
    border:solid 1px; 
}  
.tblListHighlight {
  
    background: red;

}

.tblList{
    width:100%;
    border:solid 1px;
    text-align:left;
    border-collapse:collapse; 
}
.highlight tr {
      background: red;
}
.tblList tbody tr{
    border:solid 1px;
    height:30px;
      background: #cad2ce;
}
.tblList tbody tr:nth-child(2n){
    border:solid 1px;
    height:30px;
      background: #d7e3ef;
}
.tblList tbody tr td{
    border:solid 1px;
    padding: 5px;
}

.tblList thead{
    background:#afc7e0;
}
.btnDelete, .btnEdit{
    cursor: pointer; 
}
.buttonCreate {
    cursor: pointer; 
    text-align: center;
    padding: 5px;
}
.buttonClose{

}
.errormessage{
    color: #f33;
    padding: 0;
    margin: 2px 0 0 0;
    font-size: 0.9em;
    padding-left: 18px;
    background-image: url('images/iconWarning.gif');
    background-position: 0 0;
    background-repeat: no-repeat; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  display: none;
}
