/*
 * aige.shell.css
 * Shell styles
*/

.aige-shell-head, .aige-shell-head-logo, .aige-shell-head-acct,
.aige-shell-head-search, .aige-shell-main, .aige-shell-main-nav,
.aige-shell-main-content, .aige-shell-foot,aige-shell-message,
.aige-shell-modal {
  position : absolute;
}
.aige-shell-head {
  top    : 0;
  left: 0;
  right  : 0;
  height : 40px;
}
.aige-shell-head-logo {
  top    : 4px;
  left   : 8px;
  height : 32px;
  width  : 128px;
}
  .aige-shell-head-logo h1 {
    font   : 800 22px/22px Arial, Helvetica, sans-serif;
    margin : 0;
  }
  .aige-shell-head-logo p {
    font   : 800 10px/10px Arial, Helvetica, sans-serif;
    margin : 0;
  }

.aige-shell-head-acct {
  top           : 4px;
  right         : 0;
  width         : 210px;
  height        : 32px;
  line-height   : 32px;
  background    : #888;
  color         : #fff;
  text-align    : center;
  cursor        : pointer;
  overflow      : hidden;
  text-overflow : ellipsis;
}
.aige-shell-main {
  top    : 40px;
  left   : 0;
  bottom : 40px;
  right  : 0;
}
.aige-shell-main-content,
.aige-shell-main-nav {
  top    : 0;
  bottom : 0;
}
.aige-shell-main-nav {
  width      : 250px;
  background : #eee;
  z-index    : 1;
}
  .aige-x-closed .aige-shell-main-nav {
    width  : 0;
  }

.aige-shell-main-content {
  left  : 250px;
  right : 0;
  background : #ddd;
}
  .aige-x-closed .aige-shell-main-content {
    left : 0;
  }
.aige-shell-foot {
  bottom : 0;
  left   : 0;
  right  : 0;
  height : 40px;
}
.aige-shell-modal {
  margin-top    : -200px;
  margin-left   : -200px;
  top           : 50%;
  left          : 50%;
  width         : 400px;
  height        : 400px;
  background    : #fff;
  border-radius : 3px;
  z-index       : 2;
  display       : none;
}


    .aige-shell-message{
        text-align: center;
        padding: 5px; 
    }
/*    .divSuccessMsg:before {
        content:url(iconInformation.gif);
    }*/
